* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*  header section  */
.head-manu {
    background-color: #2b4d52;
    text-align: center;
}


.head-manu ul {}

.head-manu ul li {
    display: inline-block;
    margin-left: -4px;


}

.head-manu ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    border-left: 1px solid aliceblue;
}

.head-manu ul li:last-child a {
    border-right: 1px solid aliceblue;
}


.head-manu ul li:hover>a {
    background-color: rgb(128, 131, 121);
}

/* Dropdown manu */
.head-manu ul li {
    position: relative;
}

.head-manu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2b4d52;

    width: 210px;
    transition: 0.8s;

}

.head-manu ul li ul li {
    display: block;
    margin: 0;

}

.head-manu ul li ul li a {
    display: block;
    border-left: none;
    border: 1px solid aliceblue;
}

/***header hover section ***/
.head-manu ul li ul {
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;

}

.head-manu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);

}

/**About section***/
.about-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #f4f4f4;


}

.about-section h1 {
    text-align: center;
    color: #41b94e;
    padding: 10px;
    margin-bottom: 50px;
    font-size: 50px
}

.about-content {
    display: flex;
    padding: 20px;
    text-align: justify;
}

.left-about {
    width: 40%;
    margin-left: 5%;

}

.left-about h2 {
    font-size: 40px;
    color: #a640b5;
    margin-bottom: 30px;


}

.left-about h3 {
    color: #26b343;
    margin-bottom: 16px;

}


.left-about a {
    background-image: linear-gradient(#31ae31, #f7ff00);
    padding: 12px 30px;
    color: honeydew;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.left-about a:hover {
    background-image: linear-gradient(blue, yellow)
}

.left-about p {
    color: #0c0b0b;

}

.about-image {
    width: 40%;
    margin-left: 12%;
}

.about-image img {
    width: 70%;
}